---
sitemap: false
---

@import
    "normalize",
    "media-queries",
    "variables",
    "colors",
    "spacing",
    "aspect-ratios",
    "background-position",
    "background-size",
    "borders",
    "border-colors",
    "border-radius",
    "border-style",
    "border-widths",
    "box-shadow",
    "box-sizing",
    "clears",
    "code",
    "coordinates",
    // Uncomment debug SASS files to debug
    // "debug_children",
    // "debug_grid",
    // "debug",
    "display",
    "flexbox",
    "floats",
    "font-style",
    "font-family",
    "font-style",
    "font-weight",
    "forms",
    "gradients",
    "heights",
    "hovers",
    "images",
    "letter-spacing",
    "line-height",
    "links",
    "lists",
    "max-widths",
    // "module-template",
    "negative-margins",
    "nested",
    "opacity",
    "outlines",
    "overflow",
    "position",
    "rotations",
    "skins-pseudo",
    "skins",
    "styles",
    "tables",
    //  If you just want all the Tachyons modules delete the single modules
    //  and uncomment this
    // "tachyons-4.8.1",
    "text-align",
    "text-decoration",
    "text-transform",
    "type-scale",
    "typography",
    "utilities",
    "vertical-align",
    "visibility",
    "white-space",
    "widths",
    "word-break",
    "z-index",
    // c contains your custom selectors
    "c"
;
