---
---

@import "{{ site.theme }}";

a:link { color: #34ad65; }
a:visited { color: #296641; }
a:hover { color: #3dcc76; }
a:active { color: #3487ad; }
h1 a { color: #34ad65; } 

body { font-size: 16px; }
header, header ul, footer { width: 250px; }
header, footer { font-size: 0.9em; text-align: center; }
header h1 { font-size: 24px; }
section { width: 520px; }
h2 { margin-top: 4rem; }
h3 { margin-top: 2rem; }
ul, ol { padding-left: 1em; }
ul li, ol li { margin-bottom: 0.5rem; padding-left: 0.5em; }

@media print, screen and (max-width: 960px) {
 div.wrapper {
  width:auto;
  margin:0
 }
 header,
 section,
 footer {
  float:none;
  position:static;
  width:auto
 }
}